<!-- navbar starts here -->
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav> -->
<!-- navbar ends here -->

<div class="portfolio">
  <header class="header  text-center py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-md-left">
          <img
            src="/IMG_20240814_135040.jpg"
            alt="Profile Photo"
            class="rounded-circle mb-4"
            width="200"
            height="200"
            loading="lazy"
          />
        </div>
        <div class="col-md-8 text-md-left">
          <h1>Welcome to My Portfolio</h1>
          <p>Hi, I'm Dileep Patil K R. I'm a Software Developer.</p>
          <a
            href="https://www.linkedin.com/in/dileep-patil-k-r-9bb6a0196/"
            target="_blank"
          >
            <img
              src="/linkedinlogo.png"
              alt="LinkedIn"
              width="30"
              height="30"
              class="ml-2"
            />
          </a>
          <a href="/Dileep_patil_KR.pdf" download class="btn btn-secondary ms-5">
            Download Resume
        </a>
        </div>
      </div>
    </div>
  </header>

  <section class="about">
    <h2>About Me</h2>
    <p>
      I am a recent graduate with a Master’s in Computer Applications from
      Siddaganga Institute of Technology, where I achieved a CGPA of 8.79. I
      also hold a Bachelor's degree in Computer Applications from Seshadripuram
      College, Tumkur, with a CGPA of 8.4.
    </p>
    <p>
      I am currently working as a Full Stack Software Engineer at Acelucid
      Technologies Private Limited in Tumkuru. In this role, I collaborate with
      cross-functional teams to develop and implement full-stack applications,
      assisting in the design and development of user-friendly interfaces using
      HTML, CSS, JavaScript, and Angular.
    </p>
    <p>
      I am proficient in C# and Angular and have experience working with
      PostgreSQL and MongoDB. My academic and professional experiences have
      fueled my passion for software development and technology.
    </p>
    <p>
      In addition to my technical skills, I bring strong soft skills such as
      adaptability and team management, which I honed through various group
      projects and extracurricular activities. I participated in events at RV
      College and Nitte Meenakshi College, and I also coordinated the quiz event
      organized at my college (SIT), enhancing my collaboration and
      problem-solving abilities.
    </p>
    <p>
      In my free time, I enjoy listening to music and playing games, which help
      me maintain a balanced lifestyle. I am fluent in Kannada, English, and
      Hindi, allowing me to communicate effectively in diverse environments.
    </p>
  </section>

  <!-- Education TimeLine starts -->
  <h2>Educaton Details &amp; Experience:</h2>
  <div class="container">
    <div class="main-timeline">
      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">on-going</span>
              <span class="year">2024</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Full Stack Software Engineer</h5>
          <p class="description">
            Company: Acelucid Technologies Private Limited <br />
            Duration: May 2024 - Ongoing (6 months) <br />
            Location: Tumkuru <br />

            In my role at Acelucid Technologies, I have collaborated with
            cross-functional teams to develop and implement full-stack
            applications. My contributions include assisting in the design and
            development of user-friendly interfaces using HTML, CSS, JavaScript,
            and Angular, ensuring a seamless user experience across the
            applications.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">2 Years</span>
              <span class="year">2022</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Master of Computer Applications</h5>
          <p class="description">
            College : Siddaganga Institute of Technology <br />
            Year of Passing: 2024 <br />
            CGPA: 8.79 <br />

            I graduated with a Master's in Computer Applications from Siddaganga
            Institute of Technology, where I have maintained a CGPA of 8.79.
            This academic achievement reflects my dedication to mastering
            software development and related technologies.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">3 Years</span>
              <span class="year">2019</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Bachelor of Computer Applications</h5>
          <p class="description">
            Seshadripuram College, Tumkur <br />
            Year of Passing: 2022 <br />
            CGPA: 8.4 <br />
            I graduated with a Bachelor of Computer Applications from
            Seshadripuram College, Tumkur, achieving a CGPA of 8.4. This program
            provided me with a solid foundation in computer science and
            practical skills in software development.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">2 Years</span>
              <span class="year">2017</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Pre-University Course (PUC)</h5>
          <p class="description">
            Mahesh PU College, Tumkur <br />
            Year of Passing: 2019 <br />
            Percentage: 70.33% <br />
            I completed my Pre-University Course at Mahesh PU College, Tumkur,
            graduating in 2019 with a percentage of 70.33%.
          </p>
        </div>
      </div>
      <!-- end experience section-->
      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="year">2016</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Secondary School Leaving Certificate (SSLC)</h5>
          <p class="description">
            Kids International School, Tumkur <br />
            Year of Passing: 2017 <br />
            Percentage: 86.72% <br />
            I completed my Secondary School Leaving Certificate (SSLC) at Kids
            International School, Tumkur, in 2017, achieving a percentage of
            86.72%.
          </p>
        </div>
      </div>
      <!-- end experience section-->
    </div>
  </div>
  <!-- Education Time Line ends -->

  <section class="projects">
    <h2>My Projects</h2>
    <ul >
      <!-- project 1 -->
      <li class="Title_li">
        <h3>Innovative Electrical Solution Website</h3>
        <p><b>Project Overview:</b></p>
        <p>
          The Innovative Electrical Solution Website serves as a comprehensive
          platform for a company specializing in the manufacturing of control
          panels and agricultural starters. The website aims to provide detailed
          information about the company's products, services, and projects,
          catering to industrial clients and agricultural sectors.
        </p>
        <p><b>Tools and Technologies Used:</b></p>
        <ul>
          <li>
            HTML: Used to structure the website's content, ensuring clear and
            semantic markup for better accessibility and SEO.
          </li>
          <li>
            CSS: Employed for styling the website, creating a visually appealing
            and responsive design that enhances the user experience.
          </li>
          <li>
            ASP.NET: Utilized as the backend framework to manage server-side
            logic, facilitate database interactions, and deliver a seamless user
            experience.
          </li>
        </ul>
        <p><b>Key Features:</b></p>
        <ul>
          <li>
            Product Descriptions: Comprehensive information about various
            control panels and agricultural starters, including specifications,
            features, and benefits.
          </li>
          <li>
            Project Showcase: Highlighting past projects to demonstrate the
            company’s expertise and capabilities in delivering industrial
            solutions.
          </li>
        </ul>
        <p><b>Impact:</b></p>
        <p>
          This project significantly enhanced my technical skills in web
          development, particularly in using HTML, CSS, and ASP.NET. I gained
          valuable experience in creating user-friendly interfaces and
          effectively structuring content to meet client needs. Additionally,
          working on this project improved my understanding of backend
          development and database interactions, allowing me to create a
          seamless user experience. Overall, this project deepened my knowledge
          of how to present complex information clearly and effectively,
          ultimately contributing to the company's online presence and client
          engagement.
        </p>
      </li>
      <hr />
      <!-- project 2 -->

      <li class="Title_li">
        <h3>To-Do List Application</h3>
        <p><b>Project Overview:</b></p>
        <p>
          The To-Do List application is a robust tool designed to help users
          manage their tasks efficiently. Built using Angular for the frontend
          and ASP.NET for the backend, this application allows users to add,
          edit, and delete tasks, providing an intuitive interface that enhances
          productivity and organization.
        </p>
        <p><b>Tools and Technologies Used:</b></p>
        <ul>
          <li>
            Angular: The primary framework for building the frontend, enabling
            modular development and efficient data binding.
          </li>
          <li>
            ASP.NET: Used as the backend framework to handle API requests,
            manage data, and facilitate interactions with the database.
          </li>
          <li>
            HTML: Employed for structuring the application’s user interface,
            ensuring clear and accessible content.
          </li>
          <li>
            CSS: Used for styling the application, creating a visually appealing
            layout that is user-friendly and responsive.
          </li>
        </ul>

        <p><b>Key Features:</b></p>
        <ul>
          <li class="Title_li">
            Task Management: Users can easily add new tasks, mark them as
            completed, or delete them, all through a streamlined interface.
          </li>
          <li>
            API Integration: Utilizes ASP.NET to create RESTful APIs for task
            management, allowing for seamless communication between the frontend
            and backend.
          </li>
          <li>
            JWT Implementation: JSON Web Tokens (JWT) are used for secure user
            authentication, ensuring that users can safely access their tasks.
          </li>
          <li>
            Persistent Storage: Cookies are used to store the token and user ID,
            maintaining session state across browser sessions.
          </li>
          <li>
            Responsive Design: The application is designed to be responsive,
            allowing users to access it seamlessly on various devices, including
            desktops and mobile phones.
          </li>
        </ul>
        <p><b>Impact:</b></p>
        <p>
          This project significantly enhanced my technical skills in web
          development, particularly in using Angular and ASP.NET together. I
          gained valuable experience in creating interactive user interfaces,
          managing API requests, and implementing secure authentication methods
          with JWT. Working on this To-Do List application deepened my
          understanding of full-stack development and improved my ability to
          build user-centric applications.
        </p>
      </li>
      <hr />
      <!-- project 3 -->
      <li class="Title_li">
        <h3>AL-Rova Project</h3>
        <p><b>Project Overview:</b></p>
        <p>
          The AL-Rova project is an e-commerce application designed specifically
          for farmers, providing a platform for purchasing fertilizers, seeds,
          and other agricultural supplies. As a member of the backend team, I
          contributed to the development and implementation of key
          functionalities that support the overall architecture of the
          application, ensuring a seamless shopping experience for users.
        </p>
        <p><b>Tools and Technologies Used:</b></p>
        <ul>
          <li>
            C#: Utilized for developing robust server-side logic, ensuring high
            performance and reliability.
          </li>
          <li>
            ASP.NET: Used as the backend framework to handle API requests,
            manage data, and facilitate interactions with the database.
          </li>
        </ul>

        <p><b>Key Features:</b></p>
        <ul>
          <li>
            API Development: Contributed to developing RESTful APIs to handle
            product listings, user accounts, and order processing, ensuring
            efficient data retrieval and manipulation.
          </li>
          <li>
            Bug Resolution: Actively identified and resolved bugs that were
            raised in previous versions, enhancing the application's stability
            and performance.
          </li>
          <li>
            Database Management: Worked with the database to implement data
            storage solutions for products, orders, and user information,
            optimizing query performance and ensuring data integrity.
          </li>
          <li>
            Authentication and Security: Implemented secure authentication
            mechanisms to protect user data and ensure that only authorized
            users could access sensitive information.
          </li>
          <li>
            Collaboration: Collaborated closely with the frontend team to ensure
            smooth integration of backend services, providing support and
            troubleshooting as needed.
          </li>
        </ul>
        <p><b>Impact:</b></p>
        <p>
          Working on the AL-Rova project significantly enhanced my technical
          skills in backend development with C# and ASP.NET. I contributed to
          developing APIs and solving bugs that were raised previously, gaining
          valuable experience in API development, bug fixing, database
          management, and teamwork.
        </p>
      </li>
      <hr />
      <!-- project 4 -->
      <li class="Title_li">
        <h3>Push Notification Implementation using Firebase</h3>
        <p><b>Project Overview:</b></p>
        <p>
          This project focused on implementing push notifications using Firebase
          Cloud Messaging (FCM) to enhance user engagement by enabling real-time
          alerts and updates.
        </p>
        <p><b>Tools and Technologies Used:</b></p>
        <ul>
          <li>
            Firebase Cloud Messaging (FCM): Utilized to send and manage push
            notifications efficiently.
          </li>
          <li>
            JavaScript/Angular: Used to integrate FCM into the application,
            facilitating communication for sending notifications.
          </li>
          <li>
            HTML/CSS: Designed the user interface for managing notification
            settings.
          </li>
        </ul>

        <p><b>Key Features:</b></p>
        <ul>
          <li>
            Real-Time Notifications: Developed a system to send timely
            notifications to users for important updates.
          </li>
          <li>
            Easy Integration: Ensured smooth integration of FCM with the
            existing application, supporting multiple platforms.
          </li>
        </ul>
        <p><b>Impact:</b></p>
        <p>
          This project enhanced my skills in working with Firebase and
          understanding the mechanisms behind push notifications. I gained
          practical experience in creating customizable notification content,
          integrating third-party services, and managing user interactions, all
          of which are crucial for improving user engagement in applications.
        </p>
      </li>
    </ul>
  </section>

  <section class="contact">
    <h2>Contact Me</h2>

    <p>Email: dileeppatilkr1222&#64;gmail.com</p>
    <p>
      LinkedIn:
      <a
      href="https://www.linkedin.com/in/dileep-patil-k-r-9bb6a0196/"
      target="_blank"
    >
      <img
        src="/linkedinlogo.png"
        alt="LinkedIn"
        width="30"
        height="30"
        class="ml-2"
      />
    </a>
    </p>

    <!-- messaging -->
    <div>
        <h4>Share your insights or inquiries!</h4>
        <form [formGroup]="contactForm" (ngSubmit)="sendEmail($event)">
            <div class="form-group mt-3">
              <label for="username">Name:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
              />
              <small *ngIf="contactForm.get('username')?.invalid && 
                             (contactForm.get('username')?.touched)" 
                     class="text-danger">
                <ng-container *ngIf="contactForm.get('username')?.errors?.['required']">
                  Name is required.
                </ng-container>
                <ng-container *ngIf="contactForm.get('username')?.errors?.['minlength']">
                  Name must be at least 2 characters long.
                </ng-container>
              </small>
            </div>
          
            <div class="form-group mt-3">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
              <small *ngIf="contactForm.get('email')?.invalid && 
                             (contactForm.get('email')?.touched )" 
                     class="text-danger">
                <ng-container *ngIf="contactForm.get('email')?.errors?.['required']">
                  Email is required.
                </ng-container>
                <ng-container *ngIf="contactForm.get('email')?.errors?.['email']">
                  Invalid email format.
                </ng-container>
              </small>
            </div>
          
            <div class="form-group mt-3">
              <label for="message">Message:</label>
              <textarea
                class="form-control"
                id="message"
                formControlName="message"
              ></textarea>
              <small *ngIf="contactForm.get('message')?.invalid && 
                             (contactForm.get('message')?.touched)" 
                     class="text-danger">
                <ng-container *ngIf="contactForm.get('message')?.errors?.['required']">
                  Message is required.
                </ng-container>
              </small>
            </div>
          
            <button
              type="submit"
              class="btn btn-primary mt-3"
              [disabled]="!contactForm.valid"
            >
              Send
            </button>
          </form>
          
          
          
          
          
    </div>
  </section>
</div>
